.loginbackgrnd {
    position: relative;
    background-image: url('../../assets/images/loginbg.jpg'), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-size: cover;
    background-position: center;
    
}